.card__title {
  margin: 0 auto;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  max-width: 353px;
}

.card__image {
  width: 100%;
  height: 413px;
  object-fit: cover;
  border-radius: 8px;
  display: block;
}

.card__content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 12px;
}

.card__like-btn {
  background: url(../images/like.svg) center/contain no-repeat;
  cursor: pointer;
  width: 23px;
  height: 20px;
  background-color: transparent;
  opacity: 0.4;
  border: none;
  transition: opacity 0.3s ease;
}

.card__like-btn:hover {
  opacity: 1;
}

@media screen and (max-width: 627px) {
  .card__image {
    height: 288px;
  }

  .card__title {
    max-width: 250px;
    font-size: 16px;
    line-height: 1;
  }

  .card__like-btn {
    width: 20px;
    height: 18px;
    cursor: pointer;
  }
}
