.profile {
  display: flex;
  padding: 34px 0 20px;
  border-bottom: 1px rgba(33, 33, 33, 0.4) solid;
}

.profile__avatar-container {
  position: relative;
  width: 190px;
  height: 190px;
}

.profile__avatar-btn {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  gap: 8px;
  padding: 8px 12px;
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  visibility: hidden;
  transition: visibility 0s, opacity 0.3s ease;
  opacity: 0;
  size: 16px;
  font-weight: 500;
  line-height: 1;
}

.profile__avatar-container:hover .profile__avatar-btn {
  visibility: visible;
  opacity: 1;
}

.profile__avatar {
  width: 190px;
  height: 190px;
  object-fit: cover;
  border-radius: 8px;
  margin-right: 20px;
}

.profile__avatar-btn::after {
  content: "Edit Avatar";
}

.profile__column {
  display: flex;
  flex-direction: column;
  margin-left: 20px;
}

.profile__name {
  margin: 0 0 12px;
  font-weight: 500;
  font-size: 32px;
  line-height: 1;
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  max-width: 420px;
}

.profile__description {
  margin: 0;
  font-weight: 500;
  font-size: 16px;
  line-height: 1;
  opacity: 0.7;
  text-overflow: ellipsis;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  max-width: 420px;
  color: #212121;
}

.profile__edit-btn {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-top: auto;
  padding: 0;
  border: none;
  background: none;
  font-weight: 500;
  font-size: 16px;
  line-height: 1;
  color: #212121;
  opacity: 0.7;
  cursor: pointer;
  transition: color 0.3s ease;
}

.profile__edit-btn:hover {
  opacity: 1;
}

.profile__edit-btn img {
  filter: brightness(2);
  transition: filter 0.3s ease;
}

.profile__edit-btn:hover img {
  filter: brightness(1);
}

.profile__new-post-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: auto;
  width: 149px;
  height: 52px;
  border-radius: 8px;
  color: #fcf5e5;
  background-color: #212121;
  margin-top: auto;
  gap: 8px;
  padding: 0 20px;
  border: none;
  font-weight: 500;
  font-size: 16px;
  line-height: 1;
  cursor: pointer;
}

.profile__new-post-btn:hover {
  background: rgba(33, 33, 33, 0.8);
}

@media screen and (max-width: 627px) {
  .profile {
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding-top: 20px;
    max-width: 288px;
  }

  .profile__avatar-container {
    position: relative;
    height: 80px;
    width: 80px;
  }

  .profile__avatar {
    margin: 0 0 12px;
    height: 80px;
    width: 80px;
    border-radius: 8px;
    object-fit: cover;
  }

  .profile__avatar-btn {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: auto;
    left: auto;
    bottom: 0;
    right: 0;
    width: 23.34px;
    height: 23.34px;
    padding: 0;
    border: none;
    border-radius: 6px;
    background: rgba(33, 33, 33, 0.6);
    cursor: pointer;
    visibility: visible;
    opacity: 1;
    z-index: 2;
  }

  .profile__avatar-btn::after {
    content: "";
  }

  .profile__name {
    font-size: 20px;
    margin: 0 0 6px;
  }

  .profile__description {
    margin: 0 0 32px;
  }

  .profile__column {
    font-size: 20px;
    margin: 0 0 20px;
  }

  .profile__edit-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
  }

  .profile__new-post-btn {
    margin: 0;
    width: 100%;
  }
}
